.container{
    width: 100%;
    height: 100%;
    padding: 8px;
   
}
 .pagination-container{
        width: 60%;
        margin: 0 auto;
        display: flex
;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    }

    .box{
        height: 300px;
        width: 300px;
        border: 1px solid black;
        
    }
    .item_image{
        height: 200px;
        width: 100%;

    }
    .title{
        font-size: 18px;

    }

    .pagination{
        width: 100%;
        margin: 20px;
    }

    .pagination span{
        border: 1px solid gray;
        padding: 10px;
        cursor: pointer;
    }

    .pagination span:hover{
        background-color: gray;
    }
    .selected{
        background-color: gray;
    }