.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  center;
    margin-top: 40px;

}

.inputBox{
    height: 30px;
    width: 30px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-right: 2px;
}
